
@{
    ViewBag.Title = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header cms-text-main text-center">
        You are not authorized to view this page.
    </div>
    <div class="card-body text-center" style="font-size: 450px">
        <div class="fa-solid fa-ban cms-bg-main"></div>
    </div>
</div>

